<h1>Kickammender</h1>
<h3>Kickstarter recommendations, tailored to you</h3>

Your scores:
<%= @user.scores %>

<br><br>
<%= button_to "Generate a recommendation!", recommendations_path %>
<br><br>
<% if @rec %>
<a href="http://www.kickstarter.com<%= @rec.ks_project.url %>" target="blank"><img src="<%=@rec.ks_project.image_url %>"></a>
<%= link_to @rec.ks_project.title, "http://www.kickstarter.com"+@rec.ks_project.url %><br>
This project was backed by <%= @neighbor.name %><br>
<img src="<%= @neighbor.image_url %>">
<% end %><br>
<div class="recommendations" style="float:left">
<% if @ranked_active_projects %>
  <% @array.each do |unit| %>
    <%= form_tag :controller => "users", :action => 'adjust_score' do %>
      <%= link_to unit[0].title, "http://www.kickstarter.com" + unit[0].url %> : <%= unit[1] %><br>
      <%= submit_tag "true", name: "feedback" %>
      <%= submit_tag "false", name: "feedback" %>
      <input type="hidden" id="<%= unit[0].title %>>" name="category" value="<%= unit[0].parent_category %>"><Br>
      <% end %>
  <% end %>
<% end %>
</div>

<br>
<div class="most_similar" style="float:right">
<% if @most_similar %>
We found you to be most similar to this beautiful person: <%= @most_similar.name %>. <br>
<img src="<%=@most_similar.image_url%>">

They've backed these projects:
<ul>
<% @most_similar.ks_projects.each do |proj| %>
  <li><%= link_to proj.title, "http://www.kickstarter.com" + proj.url %></li>
<% end %>
</ul>
<% end %>
</div>

