
  <body data-spy="scroll" data-target="#scrollTarget" data-offset="150" id="fullScreen">
    <!-- Preloader -->
    <div id="preloader">
      <div id="status">
        <img src="assets/loader.gif" alt=""/><h1 class="noSubtitle">Calculating your personal results across 13 dimensions...</h1>
      </div>
    </div>
    <!-- Preloader -->
    <!-- Primary Page Layout 
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
      <!-- header -->
      <header id="mainHeader" class="navbar-fixed-top" role="banner">
        <div class="container">
          <nav class="navbar navbar-default scrollMenu" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" class="" href="#homeFullScreen">Kickammender.</a> </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                <ul class="nav navbar-nav pull-right">
                  <li class="active"><a href="#homeFullScreen">Home</a> </li>
                  <li><a href="#recommendations">Your Recs</a> </li>
                  <li><a href="#profile"></i>Your Profile</a> </li>
                  <li><a id="logout" href="/sessions/logout">Logout</a> </li>
                  <li><a href="#about">How This Works</a> </li>
                </ul>
              </div>

            </nav>
          </div>
        </header>
        <!-- header -->
        <!-- content -->
        <section id="homeFullScreen" data-stellar-background-ratio="0.5">
          <div class="maskParent" >
            <div class="paralaxMask"></div>
            <div id="fullScreenSliderWrapper">
              <div id="logoBig">
                <div class="paralaxText container customTitle">Kickammender<span class="titleDot">.</span></div>

                </div>

              <div class="flexslider" id="flexHome">
                <ul class="slides">
                  <li>
                    <h2>Kickstarter recommendations</h2>              
                  </li>
                  <li>
                    <h2>...tailored specifically to you.</h2>
                  </li>
                  <li>
                    <h2>The only one of its kind.</h2>
                  </li>
                </ul>
              </div> 

            </div>
          </div>
        </section>


        <!-- recommendations -->
        <% if @array %><!-- hidden section until recommendations are generated -->
        <section id="recommendations" class="slice color4 recommendations">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Recommendations for you</h1>
                <h2 class="subTitle">Here's a few projects we think you might be interested in backing</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 imgHover">
                <article class="boxFeature-2">
                  <section class="imgWrapper "><a href="http://www.kickstarter.com<%= @array[0][0].url %>"><img src="<%= @array[0][0].image_url %>" target="_blank" class="img-responsive rec-image"></a></section>
                  <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks"> 
                      <a href="portfolio-project-fullwidth-image.html" title="link" class="sizer portfolioSheet">
                        <i class="icon-picture iconRounded iconBig"></i>
                        <span><%= @array[0][0].backer_count %> backers!</span>
                      </a> 
                      <a href="assets/portfolio/zoom6.jpg" class="image-link" title="Full width image">
                        <i class="icon-search iconRounded iconBig"></i>
                        <span>zoom</span>
                      </a> 
                    </div>
                  </div>
                  <h2><%= link_to @array[0][0].title, "http://www.kickstarter.com" + @array[0][0].url, target: '_blank' %></h2>
                  
                </article>
              </div>

              <div class="col-md-4 col-sm-6">
                <article class="boxFeature-2">
                  <section class="imgWrapper">
                  <a href="http://www.kickstarter.com<%= @array[1][0].url %>" target="_blank"><img src="<%= @array[1][0].image_url %>" class="img-responsive rec-image"></a></section>
                  <h2><%= link_to @array[1][0].title, "http://www.kickstarter.com" + @array[1][0].url, target: '_blank' %></h2>
                  
                </article>
              </div>

              <div class="col-md-4 col-sm-6">
                <article class="boxFeature-2">
                  <section class="imgWrapper">
                  <a href="http://www.kickstarter.com<%= @random.url %>"><img src="<%= @random.image_url %>" class="img-responsive rec-image"></a>
                </section>
                  <h2><%= link_to @random.title, @random.url %></h2>

                </article>
              </div>
              <div style="clear:both">
              </div>
              <!-- descriptions --> 
              
            <div class="col-md-4 col-sm-6">
              <p class="project-description">"<%= @array[0][0].description %>"</p>
            </div>
            <div class="col-md-4 col-sm-6">
              <p class="project-description">"<%= @array[1][0].description %>"</p>
            </div>
              <div class="col-md-4 col-sm-6">
              <p class="project-description">"<%= @random.description %>"</p>
            </div>
              
              <div style="clear:both">
              </div>

              <!-- ratings -->
              <div class="col-sm-4 thumbs" align="center">
                    <%= form_tag :controller => "users", :action => 'adjust_score' do %>

                    <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
                    <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

                    <label for="feedback_true"><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></label>| <label for="feedback_false"><%= image_tag "thumbs-down-xxl.png", size: "40x40"%></label>
                    <input type="hidden" id="<%= @array[0][0].title %>" name="category" value="<%= @array[0][0].parent_category %>">
                    <%= submit_tag %>
                    <% end %>


              </div>
              <div class="col-sm-4 thumbs" align="center">
                    <%= form_tag :controller => "users", :action => 'adjust_score' do %>

                    <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
                    <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

                    <label for="feedback_true"><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></label>| <label for="feedback_false"><%= image_tag "thumbs-down-xxl.png", size: "40x40"%></label>
                    <input type="hidden" id="<%= @array[1][0].title %>" name="category" value="<%= @array[1][0].parent_category %>">
                    <%= submit_tag %>
                    <% end %>

              </div>
              <div class="col-sm-4 thumbs" align="center">
                    <%= form_tag :controller => "users", :action => 'adjust_score' do %>

                    <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
                    <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

                    <label for="feedback_true"><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></label>| <label for="feedback_false"><%= image_tag "thumbs-down-xxl.png", size: "40x40"%></label>
                    <input type="hidden" id="<%= @array[2][0].title %>" name="category" value="<%= @array[2][0].parent_category %>">
                    <%= submit_tag %>
                    <% end %>

              </div>


            </div>
          </div>
        </section>
        <!-- services --> 

        
        <div id="paralaxSlice5" data-stellar-background-ratio="0.5">
          <div class="maskParent">
            <div class="paralaxMask"></div>
            <div class="paralaxText container">
              <blockquote class="bigTitle">Pretty cool, right?</blockquote>
            </div>
          </div>
        </div>
<!-- similar user -->
        <section class="slice noPaddingBottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Someone Like You</h1>
                <h2 class="subTitle">We found you to be most similar to this handsome devil </h2>
              </div>
            </div>

              <div class="col-sm-6">
                <center>
                <p>
                  <a href="<%= @most_similar.url %>"><img src="<%= @most_similar.image_url%>" class="img-responsive similar-image"></a>
                </p>
              <h2><%= link_to @most_similar.name, @most_similar.url %></h2>
                            <p><%= @most_similar.description %> </p>
              <p>From <%= @most_similar.location %></p>
              <p>Joined on <%= @most_similar.date_joined.strftime('%B %e, %Y') %></p>
            </center>
            </div>


            <div class="row">
              <div class="col-sm-6">
                              <h2>Here's some projects they've backed in the past:</h2>
                <h3></h3>
                <p></p>
                <ul>
                  <% @most_similar.ks_projects.take(5).each do |project| %>
                  <li><%= link_to project.title, project.url %></li>
                  <% end %>
                </ul>

                 </div>



            </div>
          </div>
        <!-- end similar user -->
        
          
          <% else %>
          <p>Looks like something went wrong. Sorry! <a href="/">Head back</a></p>
          <% end %>

          <!-- content -->

        </div>
        <!-- global wrapper -->
    <!-- End Document 
    ================================================== -->

    <script type="text/javascript">
      var height = $(window).height();

    $('html, body').animate({

      scrollTop: height

      }, 2000);

    $(document).ready(function(){
      $('.first_rec').hide();
      $('.submit').hide();
    });

    </script>

