<h1>Kickammender</h1>
<h3>Kickstarter recommendations, tailored to you</h3>

Your scores:
<%= @user.scores %>

<br><br>
<%= button_to "Generate a recommendation!", recommendations_path %>
<br><br>
<% if @rec %>
<a href="http://www.kickstarter.com<%= @rec.ks_project.url %>" target="blank"><img src="<%=@rec.ks_project.image_url %>"></a>
<%= link_to @rec.ks_project.title, "http://www.kickstarter.com"+@rec.ks_project.url %><br>
This project was backed by <%= @neighbor.name %><br>
<img src="<%= @neighbor.image_url %>">
<% end %><br>
<% if @ranked_active_projects %>
<% @array.each do |unit| %>
  <%= link_to unit[0].title, "http://www.kickstarter.com" + unit[0].url %> : <%= unit[1] %><br>
  <%= form_tag :controller => "users", :action => 'adjust_score' %>
    <%= submit_tag "good recommendation", :id => "true" %>
    <%= submit_tag "bad recommendation", :id => "false" %>
    <%= hidden_field_tag "category", unit[0].category %>
<% end %>
<% end %>