<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <img src="assets/loader.gif" alt=""/><h1 class="noSubtitle">Calculating your personal results across 13 dimensions...</h1>
  </div>
</div>
<!-- Preloader -->
<!-- recommendations -->
  <% if @array %><!-- hidden section until recommendations are generated -->
  <section id="recommendations" class="slice color4 recommendations">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Recommendations for you</h1>
          <h2 class="subTitle">Here's a few projects we think you might be interested in backing -- <%= @user.scores %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 first-column">
          <article class="boxFeature-2">
            <section class="imgWrapper "><a href="http://www.kickstarter.com<%= @array[0][0].url %>"><img src="<%= @array[0][0].image_url %>" target="_blank" class="img-responsive rec-image"></a>
            </section>
            <div class="mediaHover">
              <div class="mask"></div>
              <div class="iconLinks"> 
                <a href="portfolio-project-fullwidth-image.html" title="link" class="sizer portfolioSheet">
                  <i class="icon-picture iconRounded iconBig"></i>
                  <span><%= @array[0][0].backer_count %> backers!</span>
                </a> 
                <a href="assets/portfolio/zoom6.jpg" class="image-link" title="Full width image">
                  <i class="icon-search iconRounded iconBig"></i>
                  <span>zoom</span>
                </a> 
              </div>
            </div>
            <h2><%= link_to @array[0][0].title, "http://www.kickstarter.com" + @array[0][0].url, target: '_blank' %></h2>
            
          </article>
        </div>

        <div class="col-md-4 col-sm-6 second-column">
          <article class="boxFeature-2">
            <section class="imgWrapper">
            <a href="http://www.kickstarter.com<%= @array[1][0].url %>" target="_blank"><img src="<%= @array[1][0].image_url %>" class="img-responsive rec-image"></a>
            </section>
            <h2><%= link_to @array[1][0].title, "http://www.kickstarter.com" + @array[1][0].url, target: '_blank' %></h2>
            
          </article>
        </div>

        <div class="col-md-4 col-sm-6 second-column">
          <article class="boxFeature-2">
            <section class="imgWrapper">
            <a href="http://www.kickstarter.com<%= @random.url %>"><img src="<%= @random.image_url %>" class="img-responsive rec-image"></a>
          </section>
            <h2><%= link_to @random.title, @random.url %></h2>

          </article>
        </div>
        <div style="clear:both">
        </div>
        <!-- descriptions --> 
        
        <div class="col-md-4 col-sm-6 first-column">
          <p class="project-description">"<%= @array[0][0].description %>"</p>
        </div>
        <div class="col-md-4 col-sm-6 second-column">
          <p class="project-description">"<%= @array[1][0].description %>"</p>
        </div>
        <div class="col-md-4 col-sm-6 third-column">
          <p class="project-description">"<%= @random.description %>"</p>
        </div>

        <!-- ratings -->
        <div class="col-sm-4 thumbs first-column" align="center">
          <%= form_tag adjust_score_path, id: 'first_form' do %>

          <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
          <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

          <label class="thumbs" for="feedback_true"><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></label>| <label class="thumbs" for="feedback_false"><%= image_tag "thumbs-down-xxl.png", size: "40x40"%></label>
          <input type="hidden" id="first_rec" name="category" value="<%= @array[0][0].parent_category %>">
          <%= submit_tag %>
          <% end %>
        </div>
        <div class="col-sm-4 thumbs second-column" align="center">
          <%= form_tag adjust_score_path, id: 'second_form' do %>

          <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
          <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

          <label class="thumbs" for="feedback_true"><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></label>| <label class="thumbs" for="feedback_false"><%= image_tag "thumbs-down-xxl.png", size: "40x40"%></label>
          <input type="hidden" id="second_rec" name="category" value="<%= @array[1][0].parent_category %>">
          <%= submit_tag %>
          <% end %>

        </div>
        <div class="col-sm-4 thumbs third-column" align="center">
          <%= form_tag adjust_score_path, id: 'third_form' do %>

          <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
          <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

          <label class="thumbs" for="feedback_true"><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></label>| <label class="thumbs" for="feedback_false"><%= image_tag "thumbs-down-xxl.png", size: "40x40"%></label>
          <input type="hidden" id="third_rec" name="category" value="<%= @array[2][0].parent_category %>">
          <%= submit_tag %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

<!-- slice with quote -->
  <div id="paralaxSlice1" data-stellar-background-ratio="0.5">
    <div class="maskParent">
      <div class="paralaxMask"></div>
      <div class="paralaxText container">
        <h1>Pretty cool, right?</h1>
      </div>
    </div>
  </div>

<!-- similar user -->
  <section class="slice noPaddingBottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Someone Like You</h1>
          <h2 class="subTitle">We found you to be most similar to this handsome devil </h2>
        </div>
      </div>

      <div class="col-sm-6">
        <center>
          <p>
            <a href="<%= @most_similar.url %>"><img src="<%= @most_similar_image_url%>" class="img-responsive similar-image"></a>
          </p>
        <h2><%= link_to @most_similar.name, "http://www.kickstarter.com" + @most_similar.url %></h2>
                      <p><%= @most_similar.description if !@most_similar.description.empty?%> </p>
        <p><% if !@most_similar.location.empty? %>From <%= @most_similar.location %><% end %></p>
        <p><% if !@most_similar.date_joined.empty? %>Joined on <%= @most_similar.date_joined %><% end %></p>
        </center>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h2>Here's some projects they've backed in the past:</h2>
          <h3></h3>
          <p></p>
          <ul>
            <% @most_similar.ks_projects.take(5).each do |project| %>
            <li><%= link_to project.title, project.url %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- end similar user -->

<% else %>
  <p>Looks like something went wrong. Sorry! <a href="/">Head back</a></p>
<% end %>

<!-- content -->

</div>
<!-- global wrapper -->
</body>
<!-- End Document 
================================================== -->

<script type="text/javascript">
  var height = $(window).height();

  $('html, body').animate({

    scrollTop: height

  }, 2000);

  $(document).ready(function(){
    $('input:radio').hide();
    // $('input:submit').hide();

    $('form').submit(function(event){
      var $form = $(this);
      var $inputs = $form.find('input');
      var auth_token = $form.find('input[name="authenticity_token"]').val();

      $inputs.each(function(i,field){
        if($(field).attr('checked') == 'checked'){
          id = $(field).attr('id');
        }
      });

      $.ajax({
        type: "POST",
        url: $(this).attr("action") + "?&authenticity_token=" + auth_token,
        data: $(this).serialize(),
        dataType: "script",
        complete: function(returnData){
          console.log(returnData.responseText);
          var response = returnData.responseText;
          var html_class = response.message;
          console.log(html_class);

        } 
      });

      event.preventDefault();
    });

  });

</script>