<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <img src="assets/loader.gif" alt=""/><h1 class="noSubtitle">Calculating your personal results across 13 dimensions...</h1>
  </div>
</div>
<!-- Preloader -->
<!-- recommendations -->
  <% if @active_recs %><!-- hidden section until recommendations are generated -->
  <section id="recommendations" class="slice color4 recommendations">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Recommendations for you</h1>
          <h2 class="subTitle">Here's a few projects we think you might be interested in backing -- <%= @user.scores %></h2>
        </div>
      </div>
      <div class="row active-recs">
        <% @active_recs.take(2).each_with_index do |rec, i| %>
        <div class="col-md-4 col-sm-6 column-<%=i%>">
          <article class="boxFeature-2">
            <section class="imgWrapper "><a href="http://www.kickstarter.com<%= rec.ks_project.url %>"><img src="<%= rec.ks_project.image_url %>" target="_blank" class="img-responsive rec-image"></a>
            </section>
            <div class="mediaHover">
              <div class="mask"></div>
              <div class="iconLinks"> 
                <a href="portfolio-project-fullwidth-image.html" title="link" class="sizer portfolioSheet">
                  <i class="icon-picture iconRounded iconBig"></i>
                  <span><%= rec.ks_project.backer_count %> backers!</span>
                </a> 
                <a href="assets/portfolio/zoom6.jpg" class="image-link" title="Full width image">
                  <i class="icon-search iconRounded iconBig"></i>
                  <span>zoom</span>
                </a> 
              </div>
            </div>
            <h2 class="rec-title"><%= link_to rec.ks_project.title, "http://www.kickstarter.com" + rec.ks_project.url, target: '_blank' %></h2>
<!-- descriptions --> 
            <div class="description">
            <p class="project-description">"<%= rec.ks_project.description %>"</p>
            </div>
  <! -- ratings -->
            <div class="ratings" align="center">
            <%= form_tag adjust_score_path, id: "form-#{i}" do %>

            <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
            <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

            <label class="thumbs" for="feedback_true"><a href=""><%= image_tag "thumbs-up-xxl.png", size: "40x40", class: "white-thumbs-up"%></a></label>| <label class="thumbs" for="feedback_false"><a href=""><%= image_tag "thumbs-down-xxl.png", size: "40x40", class: "white-thumbs-down" %></a></label>
            <input type="hidden" id="first_rec" name="url" value="<%= rec.ks_project.url %>">
            <%= submit_tag %>
            <% end %>
            </div>
          </article>
        </div>
        <% end %>
<!-- a random pick --> 
        <div class="col-md-4 col-sm-6 column-3">
          <article class="boxFeature-2">
            <section class="imgWrapper "><a href="http://www.kickstarter.com<%= @random.url %>"><img src="<%= @random.image_url %>" target="_blank" class="img-responsive rec-image"></a>
            </section>

            <h2 class="rec-title"><%= link_to @random.title, "http://www.kickstarter.com" + @random.url, target: '_blank' %></h2>
            <div class="description">
            <p class="project-description">"<%= @random.description %>"</p>
            </div>
            <div class="ratings" align="center">
            <%= form_tag adjust_score_path, id: "form-3" do %>

            <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
            <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

            <label class="thumbs" for="feedback_true"><a href=""><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></a></label>| <label class="thumbs" for="feedback_false"><a href=""><%= image_tag "thumbs-down-xxl.png", size: "40x40", class: "" %></a></label>
            <input type="hidden" id="first_rec" name="url" value="<%= @random.url %>">
            <%= submit_tag %>
            </div>
          </article>
        </div>
        <% end %>
      </div>
    </div>
  </section>

<!-- slice with quote -->
  <div id="paralaxSlice1" data-stellar-background-ratio="0.5">
    <div class="maskParent">
      <div class="paralaxMask"></div>
      <div class="paralaxText container">
        <h1>Pretty cool, right?</h1>
      </div>
    </div>
  </div>

<!-- similar user -->
  <section class="slice noPaddingBottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Someone Like You</h1>
          <h2 class="subTitle">We found you to be most similar to this handsome devil </h2>
        </div>
      </div>

      <div class="col-sm-6">
        <center>
          <p>
            <a href="<%= @most_similar.url %>"><img src="<%= @most_similar_image_url%>" class="img-responsive similar-image"></a>
          </p>
        <h2><%= link_to @most_similar.name, "http://www.kickstarter.com" + @most_similar.url %></h2>
                      <p><%= @most_similar.description if !@most_similar.description.empty?%> </p>
        <p><% if !@most_similar.location.empty? %>From <%= @most_similar.location %><% end %></p>
        <p><% if !@most_similar.date_joined.empty? %>Joined on <%= @most_similar.date_joined %><% end %></p>
        </center>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h2>Here's some projects they've backed in the past:</h2>
          <h3></h3>
          <p></p>
          <ul>
            <% @most_similar.ks_projects.take(5).each do |project| %>
            <li><%= link_to project.title, project.url %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- end similar user -->

<% else %>
  <p>Looks like something went wrong. Sorry! <a href="/">Head back</a></p>
<% end %>

<!-- content -->

</div>
<!-- global wrapper -->
</body>
<!-- End Document 
================================================== -->

<script type="text/javascript">
  var height = $(window).height();

  $('html, body').animate({

    scrollTop: height

  }, 2000);

  $(document).ready(function(){
    $('input:radio').hide();
    $('input:submit').hide();

    $('form').click(function(event){
      var $form = $(this);
      var $inputs = $form.find('input');
      var auth_token = $form.find('input[name="authenticity_token"]').val();
      $form.parent().parent().parent().fadeOut('slow', function(){
        $(this).remove();
      });

      $inputs.each(function(i,field){
        if($(field).attr('checked') == 'checked'){
          id = $(field).attr('id');
        }
      });

      $.ajax({
        type: "POST",
        url: $(this).attr("action") + "?&authenticity_token=" + auth_token,
        data: $(this).serialize(),
        dataType: "script",
        complete: function(returnData){

          console.log(returnData.responseText);
          var response = returnData.responseText;
          var html_class = response.message;
          console.log(html_class);

        } 
      });

      event.preventDefault();
    });

  });

</script>