<!-- Preloader -->
<div id="preloader">
  <div id="status">
    <%= image_tag "loader.gif" %><h1 class="noSubtitle">Generating your personal results...</h1>
  </div>
</div>
<!-- Preloader -->
<!-- recommendations -->
  <% if @active_recs %><!-- hidden section until recommendations are generated -->
  <section id="recommendations" class="slice color4 recommendations">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Recommendations for you</h1>
          <h2 class="subTitle">Here's a few projects we think you might be interested in backing</h2>
        </div>
      </div>
      <div class="row active-recs">
        <% @active_recs.take(2).each_with_index do |rec, i| %>
        <div class="col-md-4 col-sm-6 column-<%=i%>">
          <article class="boxFeature-2">
            <section class="imgWrapper "><a href="#" data-toggle="modal" data-target="#video-modal-<%=rec.ks_project.id%>"><%= image_tag "#{rec.ks_project.image_url}", class: "img-responsive rec-image"%></a>
            </section>
            <h2 class="rec-title"><%= link_to rec.ks_project.title, "http://www.kickstarter.com" + rec.ks_project.url, target: '_blank' %></h2>
<!-- descriptions --> 
            <div class="description">
            <p class="project-description">"<%= rec.ks_project.description %>"</p>
            </div>
  <! -- ratings -->
            <div class="ratings" align="center">
            <%= form_tag adjust_score_path, id: "form-#{i}", class: "rate" do %>

            <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
            <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

            <label class="thumbs" for="feedback_true"><a href=""><%= image_tag "thumbs-up-xxl.png", size: "40x40", class: "white-thumbs-up"%></a></label>| <label class="thumbs" for="feedback_false"><a href=""><%= image_tag "thumbs-down-xxl.png", size: "40x40", class: "white-thumbs-down" %></a></label>
            <input type="hidden" id="first_rec" name="url" value="<%= rec.ks_project.url %>">
            <%= submit_tag nil, class: "hide" %>
            <% end %>
            </div>
          </article>
        </div>
<!-- video modal -->
<div class="modal fade video-modal" id="video-modal-<%=rec.ks_project.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">
        <video controls width="100%">
          <source src="<%= rec.ks_project.video_url%>" type="video/mp4">
        </video>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        <% end %>
<!-- a random pick --> 
        <div class="col-md-4 col-sm-6 column-3">
          <article class="boxFeature-2">
            <section class="imgWrapper "><a href="#" data-toggle="modal" data-target="#video-modal-<%=@random.id%>"><img src="<%= @random.image_url %>"class="img-responsive rec-image"></a>
            </section>

            <h2 class="rec-title"><%= link_to @random.title, "http://www.kickstarter.com" + @random.url, target: '_blank' %></h2>
            <div class="description">
            <p class="project-description">"<%= @random.description %>"</p>
            </div>
            <div class="ratings" align="center">
            <%= form_tag adjust_score_path, id: "form-3", class: "rate" do %>

            <%= radio_button_tag(:feedback, "true", true, class: 'first_rec') %>
            <%= radio_button_tag(:feedback, "false", false, class: 'first_rec') %>

            <label class="thumbs" for="feedback_true"><a href=""><%= image_tag "thumbs-up-xxl.png", size: "40x40"%></a></label>| <label class="thumbs" for="feedback_false"><a href=""><%= image_tag "thumbs-down-xxl.png", size: "40x40", class: "" %></a></label>
            <input type="hidden" id="first_rec" name="url" value="<%= @random.url %>">
            <%= submit_tag nil, class: "hide" %>
            </div>
          </article>
        </div>
        <% end %>
<!-- video modal for 3rd pick -->
<div class="modal fadeIn video-modal" id="video-modal-<%=@random.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">
        <video controls width="100%">
          <source src="<%= @random.video_url%>" type="video/mp4">
        </video>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

      </div>
    </div>
  </section>

<!-- slice with quote -->
  <div id="paralaxSlice1" data-stellar-background-ratio="0.5">
    <div class="maskParent">
      <div class="paralaxMask"></div>
      <div class="paralaxText container">
        <h1>Pretty cool, right?</h1>
      </div>
    </div>
  </div>

<!-- similar user -->
  <section class="slice noPaddingBottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Someone Like You</h1>
          <h2 class="subTitle">We found you to be most similar to this handsome devil </h2>
        </div>
      </div>

      <div class="col-sm-6">
        <center>
          <p>
            <a href="http://www.kickstarter.com<%= @most_similar.url %>"><img src="<%= @most_similar_image_url%>" class="img-responsive similar-image"></a>
          </p>
        <h2><%= link_to @most_similar.name, "http://www.kickstarter.com" + @most_similar.url %></h2>
        <p><%= @most_similar.description if !@most_similar.description.empty?%> </p>

        <p><% if !@most_similar.location.empty? %>From <%= @most_similar.location %><% end %></p>
        <p><% if !@most_similar.date_joined.empty? %>Joined on <%= @most_similar.date_joined %><% end %></p>
        </center>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <% if !@most_similar.bio.empty? %>
          <h2>About</h2>
          <p><%= @most_similar.bio %>

          <% end %>
          <h2>Here's some projects they've backed in the past:</h2>
          <h3></h3>
          <p></p>
          <ul>
            <% @most_similar.ks_projects.take(6).each do |project| %>
            <li><%= link_to project.title, "http://www.kickstarter.com" + project.url, target: "_blank" %></li>
            <% end %>
          </ul>
      </div>
      <div class="col-sm-6" style="height:25px"></div>
      <div class="col-sm-6">
        <%= form_tag follow_path do %>
        <center><input type="submit" class="btn btn-sm tips nav" data-original-title="save this user to stay up to date on what they've backed" value="follow"></center>
        <%= hidden_field_tag "most_similar_id", @most_similar.id %>
        <% end %>
      </div>
    </div>

  </section>
  <!-- end similar user -->

<% else %>
  <p>Looks like something went wrong. Sorry! <a href="/">Head back</a></p>
<% end %>

<!-- content -->


</div>
<!-- global wrapper -->
</body>
<!-- End Document 
================================================== -->

<script type="text/javascript">
  var height = $(window).height();

  $('html, body').animate({

    scrollTop: height

  }, 2000);

  $(document).ready(function(){
    $('input:radio').hide();
    $('input:submit.hide').hide();

    // kill video -- can't come up with a better way to do this
    $('body').click(function(){
      $('video')[0].pause();
      $('video')[1].pause();
      $('video')[2].pause();
      });

    // post ratings
    $('label.thumbs').click(function(event){
      var $form = $(this).parent();
      var $inputs = $form.find('input');
      var auth_token = $form.find('input[name="authenticity_token"]').val();
      var encoded_token = encodeURIComponent(auth_token);
      var url = $form.find('input[name="url"]').val();
      var feedback = $(this).attr('for').split("_")[1];

      $form.parents('.col-md-4').fadeOut('slow', function(){
        $(this).remove();
        var rec_count = $('.col-md-4').size();
        var url = $('a:contains("Your Profile")').attr('href');

        if(rec_count == 0){
          var gen = "<center><a href='/recommendations' class='gen-more btn'>Generate some more recommendations</a></center>";
          var check = "<center><a href='" + url + "' class='btn'>Check out what you've saved</a></center>"
          $('.active-recs').prepend(check);
          $('.active-recs').prepend(gen);
        }
      });

      $.ajax({
        type: "POST",
        url: $form.attr("action") + "?&authenticity_token=" + encoded_token,
        data: {feedback: feedback, url: url},
        dataType: "script",
        complete: function(returnData){

          console.log(returnData.responseText);

        } 
      });

      event.preventDefault();
    });

  });

</script>