  <header id="displayHeader" class="navbar-fixed-top" role="banner">
    <div class="container">
      <nav class="navbar navbar-default scrollMenu" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#homeFullScreen">Kickammender.</a> 
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="/">Home</a> </li>
            <li><a href="/recommendations">Your Recs</a> </li>
            <li><%= link_to "Your Profile", user_path(@user) %> </li>
            <li><a id="logout" href="/sessions/logout">Logout</a> </li>
            <li><a href="#about">How This Works</a> </li>
          </ul>
        </div>

      </nav>
    </div>
  </header>
<p id="notice"><%= notice %></p>
<!-- empty div; need to have id 'paralaxSlice1' in the doc to make parallax work --> 
  <div id="paralaxSlice1" data-stellar-background-ratio="0.5"></div>


        <section class="slice" id="recommendations">
          <div class="container clearfix">
            <div class="row">
              <div class="col-sm-12">
                <h1>Your Favorites</h1>
                <h2 class="subTitle">You were interested in these projects</h2>
              </div>
              <nav id="filter" class="col-md-12 text-center">
                <ul>
                  <li><a href="" class="current btn btn-sm" data-filter="*">All</a></li>
                  <% @categories.each do |category| %>
                  <li><a href=""  class="btn btn-sm" data-filter=".<%=category %>" ><%= category.capitalize %></a></li>
                  <% end %>
                </ul>
              </nav>

              <div class="portfolio-items isotopeWrapper clearfix imgHover">
                <% @liked_recs.each do |rec| %>
                <article class="col-sm-4 isotopeItem profile-recommendation <%= rec.ks_project.parent_category.downcase %>">
                  <section class="imgWrapper">
                    <a href="http://www.kickstarter.com<%=rec.ks_project.url %>"> <img alt="" src="<%= rec.ks_project.image_url %>" class="img-responsive">
                  </section>

                  <section class="boxContent">
                    <h3><%= link_to rec.ks_project.title, "http://www.kickstarter.com" + rec.ks_project.url %></h3>
                    <p>
                      <%= rec.ks_project.description %><br>
                    </p>
                  </section>
                  <%= form_tag delete_saved_path do %>
                  <%= hidden_field_tag "rec_id", rec.id, {:id => rec.id} %>
                  <%= submit_tag "delete", class: "btn-link delete-submit"%>
                  <% end %>
                </article>
                <% end %>


                </div>
              </div>
            </div>
<% if @liked_recs.empty? %>
<center><h2>Nothing yet! Get some more <%= link_to "recommendations?", recommendations_path %></h2></center>
<% end %>
          </section>
<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
    <div class="maskParent">
      <div class="paralaxMask"></div>
      <div class="paralaxText container">
        <h1><i class="star"></i></h1>
      </div>
    </div>
  </div>
<% if !@followed_users.empty? %>
<section class="slice" id="follows">
          <div class="container clearfix">
            <div class="row">
              <div class="col-sm-12">
                <h1>People You're Following</h1>
                <h2 class="subTitle">You wanted to keep tabs on these users</h2>
              </div>
              <div class="clearfix">
                <% @followed_users.each do |user| %>
                <article class="col-sm-3 center isotopeItem">
                  <section class="imgWrapper">
                    <a href="http://www.kickstarter.com<%=user.url %>"> <img alt="" src="<%= user.image_url %>" class="img-responsive">
                  </section>

                  <section class="boxContent">
                    <h3><%= link_to user.name, "http://www.kickstarter.com" + user.url %></h3>
                    <p>
                      <%= user.description %><br>
                      <% if user.bio %>
                      <%= user.bio %>
                      <% end %>
                    </p>
                  </section>
                </article>
                <% end %>

                </div>
              </div>
            </div>
          </section>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){

    $('.delete-submit').click(function(event){
      var $form = $(this).parent();

      var auth_token = $form.find('input[name="authenticity_token"]').val();
      $form.parent().fadeOut('slow', function(){
        $(this).remove();
      });

      $.ajax({
        type: "POST",
        url: $form.attr("action") + "?&authenticity_token=" + auth_token,
        data: $form.serialize(),
        dataType: "script",
        complete: function(returnData){

        } 
      });

      event.preventDefault();
    });

  });
</script>
