<!DOCTYPE html>
<html>
<head>
  <title>Kickammender!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>

  </nav>

<%= yield %>

<div style="clear:both">
  </div>
<br><br><br><br>
<footer style="clear:both">
  Made with <%= image_tag "brain-xxl.png", size: "20x20"%> by <a href="http://www.twitter.com/jnoconor">@jnoconor</a> and <a href="http://www.twitter.com/mpolycar">@mpolycar</a>.
</footer>

</body>
</html>
